<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbGn4oVa1JFqAv4L3bUngkPjQmbkcod-4</string>
	<key>GCM_SENDER_ID</key>
	<string>959811013851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>be.ehb.JIDLI-APP</string>
	<key>PROJECT_ID</key>
	<string>jidli-948f1</string>
	<key>STORAGE_BUCKET</key>
	<string>jidli-948f1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959811013851:ios:37ccf96940c4b4613ad0fe</string>
</dict>
</plist>